{% extends "basebuildpage.html" %}

{% block pagetable %}
    {% if not packages %}
        <p>No packages were recorded for this target!</p>
    {% else %}

            <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Size (Bytes)</th>
            <th>Recipe</th>
            <th>Depends on</th>
            </tr>

            {% for package in packages %}

            <tr class="data">
                <td><a name="#{{package.name}}">{{package.name}}</a></td>
                <td>{{package.version}}</td>
                <td>{{package.size}}</td>
                <td><a name="{{package.recipe.name}}.{{package.package_name}}">
                <a href="{% url layer_versions_recipes package.recipe.layer_version_id %}#{{package.recipe.name}}">{{package.recipe.name}}</a>{{package.package_name}}</a></td>
                <td>
            <div style="height: 3em; overflow:auto">
                    {% for d in package.depends_on %}
                    <a href="#{{d.name}}">{{d.name}}</a><br/>
                    {% endfor %}
            </div>
                </td>

            {% endfor %}

    {% endif %}

{% endblock %}
